/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}




/************ Default Css ************/
:root {
  --primary: #A7C7E7;
  --secondary: #e8c5fb;
  --dark: #2F2F2F;
  --light: #F5F5F5;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary) !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

img {
  width: 100%;
  height: auto;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #A7C7E7;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* background-color: transparent; */
}

button:hover {
  opacity: 0.9;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--light);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);  
}
 

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

.App {
  display: flex;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #A7C7E7;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.1);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: #c9b0d8;
  color: var(--dark);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #2F2F2F;
    /* font-weight: 400; */
}